.body {
    text-align: center;
}

.timer {
    font-size: 200px;
    color: white;
}
.game_text {
    font-size: 80px;
    font-weight: bolder;
    color: white;
}
.score {
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.mcatch{
    text-align: left;
    margin: 30px;
    position: relative  ;
    left: -50px;
    overflow: hidden;

}
.btn {
    margin: 6px;
}

html {
    overflow-x :  hidden;
}
.alien {
    float: left;
    width:33%;
    margin: auto;
}

.desc {
    font-size: medium;
}
.inso {
    color: white;
    margin-bottom: -15px;
}