.body {
    text-align: center;
    font-family: "Kanit", sans-serif;
    margin-bottom: 9%;
}

.timer {
    font-size: 200px;
    color: white;
}
.game_text {
    font-size: 80px;
    font-weight: bolder;
    color: white;
}
.score {
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.mcatch{
    text-align: left;
    margin: 30px;
    position: relative  ;
    left: -20%;
    overflow: hidden;

}
.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
.menu-btn{
    width: 200px;
    
}
.btn {
    margin: 6px;
    font-family: 'Kanit', sans-serif;
}

html {
    overflow-x :  hidden;
}
.alien {
    float: left;
    width:33%;
    margin: auto;
}

.desc {
    font-size: medium;
}
.inso {
    color: white;
    margin-bottom: -15px;
}
.pmpd {
    font-size: 55px;
}
.mf {
    float: left;
    margin: auto;
    width: 50%;
}

.setting {
    height: 0;
    width: 0;
}

footer{
    height: 100px;
  position : relative;
  transform : translateY(-100%);

}

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom:100px;
}